:root {
    --margin: 8px;
    --padding: 8px;
    --border-radius: 24px;

    --background-ligth: #F5F5F7;
    --background-dark: #111111;
    --background-card-light: #FFFFFF;
    
    --color: #309BE2;
    --font-color: #1F1F1F;
    --drop-shadow-color: rgba(0, 0, 0, 0.25);
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}