header {
    background-color: #fff;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 32px 32px;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px 40px;
    height: 32px;
}

.header-logo {
    flex: 1;
}

.header-content {
    display: flex;
    justify-content: space-around;
    flex: 2;
}

.header-account {
    flex: 1;
    text-align: right;
}

.header-content a,
.header-account a {
    transition: transform 0.3s ease, filter 0.3s ease;
    margin: 0 10px;
}

.header-content a:hover,
.header-account a:hover {
    transition: all ease-in-out 0.2s;
    transform: scale(1.1);
    filter: brightness(1.2);
}

.header-content a img,
.header-account a img {
    width: 24px;
    height: 24px;
}

.links {
    transition: all ease-in-out 0.2s;
}